h1.pbb {
  position: relative;
  padding: 0em 0;
  font: 50px sans-serif;
}

h1.pbb::before,
h1.pbb::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}
h1.pbb::before {
  top: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #ff0000;
}
h1.pbb::after {
  bottom: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #0000ff;
}

body {
  background: #ffffff;
}

h2 {
  color: #364e96;
  border: solid 3px #364e96;
  padding: 0.2em;
  border-radius: 0.5em;
  font: 30px sans-serif;
}

h3.baloon {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

h3.baloon:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}
