h1.pbb {
  position: relative;
  padding: 0em 0;
  font: 50px sans-serif;
}

h1.pbb::before,
h1.pbb::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}
h1.pbb::before {
  top: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #ff0000;
}
h1.pbb::after {
  bottom: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #0000ff;
}

body {
  background: #ffffff;
}

h2 {
color: #364e96;/*•¶šF*/
border: solid 3px #364e96;/*üF*/
padding: 0.2em;/*•¶šü‚è‚Ì—]”’*/
border-radius: 0.5em;/*ŠpŠÛ*/
font: 30px sans-serif;
}
